<%- include("../partials/header") %>
<h1 class="m-3">Overheard at the Henhouse...</h1>
<% noteDataArr.forEach(noteItem => { %>

<div class="card m-3">
    <div class="media">
    <img src="https://images.pexels.com/photos/4196/animal-agriculture-farm-chicken.jpg?cs=srgb&dl=agriculture-animal-chicken-4196.jpg&fm=jpg" height = "30" width= "30" alt="" class="m-2 rounded">
    <div class="media-body m-2">
        <%= noteItem.content %>
        <br>
        <%if(noteItem.image_url) { %>
                        
            <a href="<%= noteItem.image_url %>">
            <img src="<%= noteItem.image_url %>" alt="broken link" height= "90%" width="100%">
            </a>

        <% } %>
    </div>
    </div>
</div>


<% }) %>
<%- include("../partials/footer") %>